<!-- <p>
  task-details works!
</p> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">

      <div class="row">
        <div class="col-md-12">
          <app-add-notes></app-add-notes>
        </div>
        <div class="col-md-12">
          <app-project-details></app-project-details>
        </div>

      </div>

    </div>
    <div class="col-md-5">
      <app-task></app-task>

    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <app-calendar></app-calendar>
        </div>
        <div class="col-md-12">
            <app-team></app-team>
        </div>

      </div>

    </div>

  </div>

</div>