.addNotes{
    background-color:gainsboro;
    margin-top:5px ; 
    padding: 5px;
    height: 450px;

}

.notetext{
    text-align: center;
}

.input-group{
    padding-right: 5px;
    padding-left: 5px;
}

.delete-note{
    left: 60px;
    position: relative;
    float: right;
}

.li-note{
    padding: 0px 0px 3px 0px;
    width: 75%;
}

.add-note{
    position: absolute;
    top: 55px;
    right: 25px;
}
.form-txt{
    width: 88%;
}

.note-list{
    height: 300px;
    overflow-y: auto;
}