.button-continue {
    margin-top: 0;
    margin-left: 70%;
}

.details-title {
    padding-left: 17px;
}

.project-details-form {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}