
    <div class="container" style="margin-top: 60px">
        <h2>Registered users</h2>
        <br><br>
      <div class="row">
        <div class="col-lg-10">
          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Contact No.</th>
                <th>Skill Set</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tr *ngFor="let emp of employeeService.employees">
              <td>{{emp.emp_name}}</td>
              <td>{{emp.emp_address}}</td>
              <td>{{emp.emp_contactno}}</td>
              <td>{{emp.type}}</td>
              <td><a class="action-btn" (click)="onEdit(emp)" [routerLink] = "['/hrm/update']" ><i class="fas fa-pencil-alt"></i></a> &nbsp;&nbsp;&nbsp;</td>
              <td><a class="action-btn" (click)= "onDelete(emp.emp_id)"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
          </table>
        </div>

        <!-- <div class="col-lg-5" *ngIf="flag">

            <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee.emp_id">

              <div class="row">
                <div class="form-group col-lg-5">
                  <label>Name :
                  </label>
                  <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.emp_name" placeholder="Enter full name" required>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-5">
                  <label>Address :
                  </label>
                  <input type="text" class="form-control" name="address" #address="ngModel" [(ngModel)]="employeeService.selectedEmployee.emp_address" placeholder="Enter address">                  
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-5">
                  <label>Contact No :
                  </label>
                  <input type="text" class="form-control" name="contactno" #contactno="ngModel" [(ngModel)]="employeeService.selectedEmployee.emp_contactno" placeholder="Enter contact no.">                  
                </div>
              </div>
              
              <div class="row">
                <div class="form-group">
                  <button class="btn btn-success" style="margin-left: 100px" type="submit" [disabled]="!employeeForm.valid" >Submit</button>
                  <button class="btn btn-primary" style="margin-left: 50px" type="button" (click)="resetForm(employeeForm)" >Reset</button>                  
                </div>
              </div>
            </form>
        </div> -->
      </div>
    </div>
