<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <a class="profile">
      <i class="material-icons profile-icon">
        account_circle
      </i>
      <p class="para">{{ employeeName }}</p>
      <p class="para">{{ employeeRole }}</p>
    </a>
  </div>
  <div class="list">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let link of navLinks">
        <a class="nav-link" [routerLink]="link.link">
          {{ link.title }}
        </a>
      </li>
    </ul>
  </div>
</nav>