<!-- <p>
  card works!
</p> -->


<div class="row">
  <div class="col-lg-4">
        <div class="card" style="margin: 20px; width: 300px">
              <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Task Name</h6>
                    <p class="card-text">Staff allocation based on skill requirements, past experience and availability.
                          </p>
                    <h6 class="card-subtitle mb-2 text-muted">Progress Bar</h6>
                    <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div> <br>
                    <a routerLink="" class="card-link">Goto Task</a>                             
              </div>
        </div>
   </div>
</div>