
*{
  padding: 0px;
  margin: 0px;
}

.main{
  height: 100vh;
  width: 100vh;
  background: #f2f2f9;
}

.d1{
  height: 50.5vh;
  width: 75rem;
  background: transparent;
  float: left;
  margin: 2.5vh;
}

.d2{
  height: 90.5vh;
  width: 17vh;
  background: transparent;
  float: left;
  margin-right: 2.5vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.d11{
  height: 20vh;
  width: 100vh;
  background: #e5e5e5;
  float: left;
  margin-bottom-: 2.5vh;
}

.d12{
  height: 76.25vh;
  width: 100vh;
  background: transparent;
  float: left;
  margin-top: 2.5vh;
}

.d121{
  width: 31.6vh;
  height: 70vh;
  background: #e5e5e5;
  float: left;
  margin-right: 2.5vh;
}

.d122{
  width: 31.7vh;
  height: 70vh;
  background: #e5e5e5;
  float: left;
  margin-right: 2.5vh;
}

.d123{
  width: 31.7vh;
  height: 70vh;
  background: #e5e5e5;
  float: left;
}

.d21{
  height: 22.05vh;
  width: 50vh;
  background: #e5e5e5;
  float: left;
  margin-bottom: 3vh;
}

.d22{
  height: 22.05vh;
  width: 50vh;
  background: #e5e5e5;
  float: left;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.d23{
  height: 22.05vh;
  width: 50vh;
  background: #e5e5e5;
  float: left;
  margin-top: 3vh;
}

