<div>
      <h2>All Projects</h2>
</div>

<div class="row">
      <div *ngFor="let project of projectsService.projects">
            <div class="col-lg-6">
                  <div class="card" style="margin: 20px; width: 500px;">
                        <div class="card-body">
                              <h5 class="card-title">{{project.proj_title}}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">{{project.task_description}}</h6>
                              <p class="card-text">{{project.proj_description}}</p>

                              <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Link with href
                              </a>
                              <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                    </div>
                              </div> -->

                              
                              <a class="action-btn" (click)="getTasks(project.proj_id)"><h6>View Tasks</h6></a>
                              <div class="container" *ngIf="flag">
                                    <div id="project.proj_id" *ngFor="let tasks of projectsService.tasks">
                                          <p style="margin-left: 20px">{{tasks.task_description}}</p>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>